body, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
    background-color: rgb(49, 85, 85);
  }
  
  img{
    max-width: 100%;
    display: block;
  }
  
  header {
    width: 25%;
    float: left;
    padding: 5;
    text-align: center;
    font-size: 2em;
    margin: 0 2%;
  }
  
  nav {
    width: 80%;
    float: right;
    margin: 0em 3em 1 0;
  }
  
  nav ul {
    list-style: none;
    margin: -5;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    font-size: 1.75em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
  }
  
  nav li a {
    display:block;
    color: rgb(0, 2, 3);
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
  }

  #jbs{
    width: 29%;
    float: right;
    margin: 0 2%;
    padding: 2%;
  }
  
  main {
    clear: left;
    background-color: rgb(49, 85, 85);
    padding: 2%;
    font-size: 2em;
  }

  #achievements {
    width: 100%;
    text-align: center
  }

  #art, #mvp {
    width: 50%;
    float: left;
    margin: 0 2%;
  }
  
  
  
  .action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
  }

  #intro {
    width: 50%
  }
  
  #sports, #schooling, #familylife {
    width: 29%;
    float: left;
    margin: 0 2%;
  }

  
  
  
  .external-link {
    color: #666600;
    font-weight: bold;
    text-decoration: none;
  }
  
  #contact {
    text-align: center;
  }
  
  #contact a {
    color: #666600;
    text-decoration: none;
  }
  
  .map {
    border: 8px solid #000;
  }
  
  footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
  }
  
  footer p a {
    color:#fff;
    text-decoration: none;
  }
  